:root {
    --accent-color: #fc842d;
    --main-text: #212121;
    --secondary-text: #9b9faa;
    --light-text: #ffffff;
    --main-background: #ffffff;
    --secondary-background: #f0f1f3;
    --burger-background: #264061;
    --header-border: #e0e0e0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--main-text);
    font-family: 'Verdana', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f0f1f3;
}
/* ::-webkit-scrollbar-thumb {
    background-color: #264061;
} */
::-webkit-scrollbar-thumb:vertical {
    height: 40px;
}

.container {
    overflow: hidden;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.mainButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 26px;
    width: 176px;
    height: 44px;
    background: var(--accent-color);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--light-text);
    border: 2px solid var(--accent-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.mainButton:hover,
.mainButton:focus {
    background: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    outline: none;
    color: var(--accent-color);
    box-shadow: 0px 4px 30px rgba(252, 132, 45, 0.5);
}
.secondButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 26px;
    width: 176px;
    height: 44px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background: var(--main-background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondButton:hover {
    color: var(--light-text);
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    outline: none;
}

/* ====================animations=================== */
.my-notice-enter {
    opacity: 0;
    transform: translateX(100%);
}
.my-notice-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.my-notice-exit {
    opacity: 1;
    transform: translateX(0);
}
.my-notice-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
